<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./../partials/metadata', {template: template}) %>
</head>
<body>
    <%- include('./../partials/header') %>
    <main class="main">
        <section class="consult__content consult-ok">
            <div class="container">
                <div class="row">
                   <h3>¡Consulta enviada!</h3>
                   <h4>Recibiras pronto una respuesta.</h4>
                </div>
            </div>
        </section>
    </main>
    <div style="display:none;">
    <%=infoSend.status %>
    </div>
    <script>
        console.log(infoSend);
    </script>
    <%- include('./../partials/footer') %>
</body>
</html>